@import '../../scss/sizes.scss';
#map { 
  height:  100vh; 
  width: 100%;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  
  @include tablet{
    &.nonactive{
        width: 92%;
        width: calc(100% - 46px);
        width: -moz-calc(100% - 46px);
        width: -webkit-calc(100% - 46px);
    }

  }
  @include desktop{
    &.nonactive{
      width: 97%;
      width: calc(100% - 46px);
      width: -moz-calc(100% - 46px);
      width: -webkit-calc(100% - 46px);
    } 
  }
}


.leaflet-left .leaflet-control-scale {
  margin-left: 10px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Ajusta según sea necesario */
  width: 100%;
  z-index: 1000; /* Valor superior al del overlay */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1001; /* Valor superior al del modal */
}
